<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbt5GKnhCk5kDSWbYHN5rio4LJkSk0wkY</string>
	<key>GCM_SENDER_ID</key>
	<string>375128486351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exampleUi</string>
	<key>PROJECT_ID</key>
	<string>workout-app-a79fc</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-app-a79fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375128486351:ios:6e0c4f566ef00e411362ba</string>
</dict>
</plist>